footer {
    width: 100%;
    box-sizing: border-box;
    height: 240px;
    padding: 36px;
    z-index: 1000;
    position: relative;
    overflow: hidden;

    border-top: solid 1px rgba(255,255,255,0.1);

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    background-color: transparent;
}

.Copyright p {
    color: #333;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
}

.PersonalLinks {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.PersonalLinks a {
    display: block;
    padding-left: 2em;
    color: white;

    font-family: 'Barlow';
    font-weight: 400;
}

@media (max-width: 1224px) {
    .Copyright p {
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    footer {
        padding: 18px;
        height: 120px;
        border-top: none;
    }
}