footer {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto 0 auto;
    height: 150px;
    z-index: 100;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.Copyright p {
    padding-left: calc(48px + 2em);
    color: #666;

    font-size: 1em;
    font-family: 'DIN';
    font-weight: 400;
}

.PersonalLinks {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
    flex-flow: row wrap;
}

.PersonalLinks a {
    display: block;
    padding-left: 2em;
    color: white;

    font-family: 'DIN';
    font-weight: 400;
}
