header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    z-index: 100;
}

.HeaderGroup {
    width: 90%;
    padding: 0 5%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    z-index: 1000;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

}


.blurrer {
    height: 150px;
    top: -30px;
    left: -30px;
    right: -30px;
    position: absolute;
    /* overflow: hidden; */
    /* -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px); */
    z-index: -500;
    /* background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 80%); */
    background-size: cover;
    opacity: 0;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}


.HeaderScrolled .blurrer{
    opacity: 1;
    
}

.LogoText {
    width: 200px;
    padding: 0;
    overflow: hidden;
    transition: 1s;
}

.HeaderScrolled .Expanded .LogoText {
    width: 200px;
}

.HeaderScrolled .LogoText {
    width: 0;
    padding: 0;
}


.Logo {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: center;
}

.Logo a {
    display: inline-block;
    /* height: 48px; */
    /* line-height: 48px; */
    padding-right: 2em;

    /* font-family: 'DIN'; */
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    opacity: 0.6;
}

.Links {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
    flex-flow: row wrap;
}

.Links a {
    display: block;
    padding-left: 2em;
    color: white;
    opacity: 0.6;
    
    /* font-family: 'DIN'; */
    font-weight: 400;
    letter-spacing: 1px;
}

.MenuIcon {
    width: 24px;
    height: 24px;
    margin: 0px;
    box-sizing: border-box;
    opacity: 0.4;
    display: none;
}

.MenuIcon:hover {
    opacity: 1;
}

.HeaderExpanded {
    display: none;
}


@media (max-width: 768px) {
    header {
        height: 75px;
    }
    .Logo a {
        padding-right: 0;
    }
    .Logo a img {
        height: 32px;
        width: 32px;
        margin-right: 16px;
    }
    .Links a{
        display: none;
    }

    /* .HeaderGroup.Black {
        background-color: #111;
    } */
    
    .MenuIcon {
        display: inline-block;
    }

    .MenuIcon.Hidden {
        display: none;
    }

    .HeaderExpanded {
        width: 100%;
        height: 400px;
        top: 0;
        left: 0;
        padding-top: 75px;
        position: absolute;
        z-index: -1;
        
        background-color: #111;
        display: block;
        transition: 0.3s;
        opacity: 1;
        overflow: hidden;

    }
    
    .HeaderExpanded.Hidden {
        /* z-index: -1; */
        height: 0px;
        padding-top: 0; 
        /* opacity: 0; */
    }
    
    .HeaderExpanded a {
        width: 90%;
        margin: 0 auto;

        height: 100px;
        line-height: 100px;
        display: block;
        box-sizing: border-box;
        padding-left: 48px;
        pointer-events: all;
        border-top: #222 solid 1px;
    
        /* font-family: 'DIN'; */
        font-size: 2em;
        /* font-style: italic; */
        /* font-weight: 300; */
        color: white;
        opacity: 1;
    }
    
    .HeaderExpanded a:last-child {
        border-bottom: none;
    }

    .HeaderExpanded.Hidden a{
        pointer-events: none;
    }

}