header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    height: 36px;
    z-index: 10;
}

.HeaderGroup {
    width: 100%;
    padding: 18px;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    z-index: 1000;
    
    pointer-events: none;
    -webkit-flex-flow: row wrap;
    /* justify-content: space-between; */
    align-items: center;

}

.HeaderScrolled .blurrer{
    opacity: 1;
}

.LogoText {
    width: 200px;
    padding: 0;
    overflow: hidden;
    transition: 1s;
    opacity: 1;
}

.HeaderScrolled .Expanded .LogoText {
    opacity: 1;
}

.HeaderScrolled .LogoText {
    opacity: 0;
}


.Logo {
    /* width: 25%; */
    box-sizing: border-box;
    padding: 18px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: center;
}

.Logo a {
    display: inline-block;
    padding-right: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: white;
    white-space: nowrap;
    pointer-events: auto;
}

.Links {
    width: 25%;
    box-sizing: border-box;
    padding: 18px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.Links a {
    display: inline-block;
    padding-right: 20px;
    margin: 0;

    font-size: 16px;
    font-weight: 700;
    color: #bbb;
}

.MenuIcon {
    width: 24px;
    height: 24px;
    margin: 0px;
    box-sizing: border-box;
    opacity: 0.4;
    display: none;
}

.MenuIcon:hover {
    opacity: 1;
}

.HeaderExpanded {
    display: none;
}


@media (max-width: 768px) {
    /* header {
        height: 75px;
    } */
    .Logo {
        padding: 0;
    }
    /* .Logo a img {
        height: 32px;
        width: 32px;
        margin-right: 16px;
    } */
    .Links a{
        display: none;
    }

    /* .HeaderGroup.Black {
        background-color: #111;
    } */
    
    .MenuIcon {
        display: inline-block;
    }

    .MenuIcon.Hidden {
        display: none;
    }

    .HeaderExpanded {
        width: 100%;
        height: 300px;
        top: 0;
        left: 0;
        padding-top: 75px;
        position: absolute;
        z-index: -1;
        
        background-color: #222;
        display: block;
        transition: 0.3s;
        opacity: 1;
        overflow: hidden;

    }
    
    .HeaderExpanded.Hidden {
        /* z-index: -1; */
        height: 0px;
        padding-top: 0; 
        /* opacity: 0; */
    }
    
    .HeaderExpanded a {
        width: 90%;
        margin: 0 auto;

        height: 100px;
        line-height: 100px;
        display: block;
        box-sizing: border-box;
        padding-left: 48px;
        pointer-events: all;
        border-top: #222 solid 1px;
    
        /* font-family: 'DIN'; */
        font-size: 2em;
        /* font-style: italic; */
        /* font-weight: 300; */
        color: white;
        opacity: 1;
    }
    
    .HeaderExpanded a:last-child {
        border-bottom: none;
    }

    .HeaderExpanded.Hidden a{
        pointer-events: none;
    }

}