@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400');


@font-face {
  font-family: "Aktiv Grotesk";
  font-weight: 500;
  src: url("../fonts/AktivGrotesk-Medium.otf") format("opentype")
}

@font-face {
  font-family: "Aktiv Grotesk";
  font-weight: 600;
  src: url("../fonts/AktivGrotesk-Bold.otf") format("opentype")
}

* {
  color:white;
  font-family: "IBM Plex Sans", -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

/* h1, h1 span, h2, h2 sup, .WorkCard p, h4, h4 a, h5 {
  font-family: "Barlow", -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
} */

h1, h1 span, h1 a, h2, h2 sup, .WorkCard p, h4, h4 a, h5, .Logo a, .Links a {
  font-family: "Aktiv Grotesk", -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}