html {
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #16171B;
}

body {
  margin: 0;
  /* background-color: #16171B; */
  font-size: 100%;
}

.tl-edges {
  overflow-x: visible !important;
  overflow-y: visible;
}

@media (max-width: 768px) {
  * {
    font-size: 100%;
  }
}

/* ------ scroll bar ------ */

/* ::-webkit-scrollbar {
  width: 8px;
  -webkit-appearance: none;
  background: none;
  border-left: dotted 2px #222;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: none;
  border-left: solid 2px #999;
}

::-webkit-scrollbar-thumb {
  background: none;
  border-left: solid 2px white;
} */

/* ------ text ------ */

p {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.6em;
  color: #ccc;
  letter-spacing: 0.02em;

}

a {
  /* background-color: transparent; */
  /* -webkit-text-decoration-skip: objects; */
  color: #eee;
  font-weight: 400;
  text-decoration: none;
}
a:active,
a:hover {
  outline-width: 0;
  /* color: black; */
  /* text-decoration-line: underline; */
  /* background: #ED9849; */

}

a .linkarrow {
  /* font-family: 'Barlow'; */
  font-weight: 300;
  /* font-style: italic; */
  color: inherit;
  padding: 0 0.15em;
}

span {
  font-weight: 600;
}

h1 {
  margin: 0;
  font-weight: 400;
  font-size: 3em;
  font-style: normal;
  line-height: 1.2em;
  color: white;
}

h2 {
  margin: 0;
  font-weight: 400;
  font-size: 1.4em;
  /* font-style: italic; */
  line-height: 1.5;
  opacity: 0.7;
}

h3 {
  margin: 0 0 30px 0;
  font-weight: 400;
  font-size: 0.9em;
  font-style: normal;
  line-height: 1.6em;
  text-transform: uppercase;
  letter-spacing: 0.6em;
  opacity: 0.6;
}


h4 {
  margin: 0 0 80px 0;
  font-size: 2.5em;
  line-height: 1.4em;
  font-weight: 600;
  color: #ccc;
}

h4 a {
  font-weight: 600;
}

h5 {
  margin: 0;

  font-size: 2em;
  font-weight: 600;
  line-height: 1.2em;
  color: #ccc;
}

h6 {
  margin: 0 0 0.8em 0;
  font-size: 1.05em;
  font-weight: 400;
  line-height: 1.65em;
  color: #eee;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  width: 100%;
  border-top: 1px solid #333;
  overflow-x: hidden;
}

@media (max-width: 720px) {
  hr {
    margin: 0;
  }
}

/* ------ container ------ */

#background {
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  /* filter: grayscale(); */
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 100px 0 100px 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.containerGroup {
  width: 90%;
  position: relative;
  z-index: 1;
  max-width: 1000px;
  min-height: 150px;
  margin: 0 auto;
  padding: 50px 0 0 0;
  box-sizing: border-box;
  /* padding: calc(100px + 22vh) 0 0 0; */
  /* text-align: center; */
  transition: 1s;
  opacity: 1;
}


.containerGroupDeactivated {
  /* opacity: 0.2; */
}

.containerGroupShort {
  width: 90%;
  max-width: 1000px;
  min-height: 150px;
  margin: 0 auto;
  padding: calc(100px + 10vh) 0 0 0;
  box-sizing: border-box;
}

.containerGroup + .containerGroup {
  padding-top: 0;
}

.containerGroupShort + .containerGroupShort {
  padding-top: 200px;
}

.containerGroup h1, .containerGroupShort h1 {
  /* margin: 1em 0 2.5em 0; */
  /* padding-left: 80px; */

  /* font-weight: 500;
  font-size: 2em; */
  /* font-style: italic; */
  /* line-height: 1.3;
  color: white;
  opacity: 0.7; */
}

.containerGroupShort h1 a{
  display: inline-block;
  margin:0.5em 3em 0 0;

  /* font-weight: 300; */
  /* font-style: italic; */

}

.containerGroup h2, .containerGroupShort h2 {
  margin: 1.5em 0;
  font-weight: 400;
  font-size: 0.9em;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.6em;
  color: white;
}

/* .containerGroup a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0,0,0,0.7);
  padding: 9px 20px;
  border: 1px solid rgba(255,255,255, 0.25);
  border-radius: 20px;
} */


.cardsGroup {
  width: 100%;
  height: 120vh;
  padding: 10vh auto;
  margin: 0 0 0 50vw;
  /* display: inline-flex;
  flex-wrap: wrap; */
  text-align: left;
}


@media (max-width: 1224px) {
  .containerGroup, .containerGroupShort {
    /* width: 90%; */
    padding-left: 0;
  }
  .containerGroupShort + .containerGroupShort {
    padding-top: 0px;
  }
}

@media (max-width: 768px) {
  .container {
    /* margin-bottom: 100px; */
    padding-bottom: 200px;
  }
  #background {
    display: none;
  }
  .cardsGroup {
    width: 100%;
    /* margin: 2em 2em 2em 0; */
    display: block;
  }
}


/* -------- Video -------- */

.video {
  z-index: -1;
}



.video-mockup1 {
  height: 76.5%;
  left: 50%;
  top: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  position: absolute;
}

.video-mockupx {
  height: 99%;
  left: 50%;
  top: 51.2%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  position: absolute;
}

.video-mockup-macbook {
  width: 79%;
  left: 50%;
  top: 48%;
  z-index: 40000;
  transform: translate(-50%, -50%);
  position: absolute;
}

video:-webkit-full-scren {
  transform: none;
  -webkit-transform: none;
}

video:-moz-full-screen {
  transform: none;
  -webkit-transform: none;
}

video:fullscren {
  transform: none;
  -webkit-transform: none;
}


@media (max-width: 768px) {
  .video-mockupx {
    top: 49.9%;
  }
}




/* -------- Preloader -------- */

/* .preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1000;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.no-js .preloader-container, .oldie .preloader-container {
  display: none;
}

.preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  padding: 0;
  background-color: #aaa;
  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
} */