html {
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: black;
}

@media (max-width: 768px) {
  * {
    font-size: 99%;
  }
}

/* ------ text ------ */

p {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.6em;
  color: #eee;
}

a {
  /* background-color: transparent; */
  /* -webkit-text-decoration-skip: objects; */
  color: #ED9849;
  font-weight: 300;
  text-decoration: none;
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration-line: underline;
}

a .linkarrow {
  font-family: 'DIN';
  font-weight: 300;
  font-style: italic;
  color: inherit;
}

span {
  font-weight: 600;
}

h1 {
  margin: 0;

  font-weight: 300;
  font-size: 3em;
  font-style: italic;
  line-height: 2em;
  color: white;
}

h2 {
  margin: 0;
  font-weight: 300;
  font-size: 1.4em;
  font-style: italic;
  line-height: 1.5;
  opacity: 0.7;
}

h3 {
  margin: 0 0 30px 0;
  font-weight: 400;
  font-size: 0.9em;
  font-style: normal;
  line-height: 1.6em;
  text-transform: uppercase;
  letter-spacing: 0.6em;
  opacity: 0.6;
}


h4 {
  margin: 0 0 120px 0;

  font-size: 2em;
  line-height: 1.4em;
  font-weight: 300;
  color: #dddddd;
}

h5 {
  margin: 0;

  font-size: 1.05em;
  font-weight: 400;
  line-height: 1.6em;
  color: #ccc;
}

h6 {
  margin: 0 0 0.8em 0;
  font-size: 0.95em;
  font-weight: 400;
  color: #eee;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333;
  margin: 200px 0;
  padding: 0; 
  overflow: auto;
}

@media (max-width: 720px) {
  hr {
    margin: 0;
  }
}

/* ------ container ------ */

.container {
  width: 100%;
  margin: 0 0 420px 0;
}

.containerGroup {
  width: 90%;
  max-width: 1440px;
  min-height: 150px;
  margin: 0 auto;
  padding: calc(100px + 22vh) 0 0 calc(48px + 2em);
  box-sizing: border-box;
  /* padding: calc(100px + 22vh) 0 0 0; */
  /* text-align: center; */
}

.containerGroupShort {
  width: 90%;
  max-width: 1440px;
  min-height: 150px;
  margin: 0 auto;
  padding: calc(100px + 22vh) 0 100px calc(48px + 2em);
  box-sizing: border-box;
}

.containerGroupShort + .containerGroupShort {
  padding-top: 200px;
}

.containerGroup h1, .containerGroupShort h1 {
  margin: 1em 0;
  /* padding-left: 80px; */

  font-weight: 300;
  font-size: 1.8em;
  font-style: italic;
  line-height: 1.5;
  color: white;
}

.containerGroupShort h1 a{
  margin-right: 2em;

  font-weight: 300;
  font-style: italic;

}

.containerGroup h2, .containerGroupShort h2 {
  margin: 0;
  font-weight: 400;
  font-size: 0.9em;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.6em;
  color: white;
}

/* .containerGroup a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: rgba(0,0,0,0.7);
  padding: 9px 20px;
  border: 1px solid rgba(255,255,255, 0.25);
  border-radius: 20px;
} */


.cardsGroup {
  width: 100%;
  margin: 2em 2em 2em 0;
  display: inline-flex;
  flex-wrap: wrap;
}


@media (max-width: 1224px) {
  .containerGroup, .containerGroupShort {
    /* width: 90%; */
    padding-left: 0;
  }
  .containerGroupShort + .containerGroupShort {
    padding-top: 0px;
  }
}

@media (max-width: 720px) {
  /* .containerGroup {
    width: 100%;
    padding: 200px 24px 0 24px;
  } */
}


/* -------- Video -------- */

.video {
  z-index: 10;
}

.video-mockup1 {
  height: 76.5%;
  left: 50%;
  top: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  position: absolute;
}


/* -------- Preloader -------- */

/* .preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1000;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.no-js .preloader-container, .oldie .preloader-container {
  display: none;
}

.preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  padding: 0;
  background-color: #aaa;
  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
} */